PORT=8000
ALLOWED_ORIGINS=http://localhost:5500,http://localhost:3000

SF_BASE_URL=https://yourinstance.my.salesforce.com
SF_CLIENT_ID=your_sf_consumer_key
SF_CLIENT_SECRET=your_sf_consumer_secret

MC_SUBDOMAIN=your_mc_subdomain
MC_CLIENT_ID=your_mc_client_id
MC_CLIENT_SECRET=your_mc_client_secret
MC_MID=your_mc_mid
MC_EVENT_DEF_KEY=APIEvent-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx